<!doctype html>
<html >
  
<head>
    <title>Task</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"></head>
<body>


<br/>
<section id="services" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow slideInLeft">
                    <div class="card text-center">
                        <div class="card-header bg-success text-white">
                            <h3 class="text-white">Economy Class</h3>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">20,000 Rs</h4>
                            <p class="card-text">Different Packages</p>
                            <ul class="list-group ">
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i> Travaling Services
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i> Hoteling Services
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i> Help
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i> Medium Level
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i> Tour Guide
                                </li>
                            </ul>
                            <a href="#" class="btn btn-danger btn-block mt-2">Get It</a>
                        </div>
                        <div class="card-footer text-muted">
                            <strong>&copy;Online Tourism</strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow slideInRight">
                    <div class="card text-center">
                        <div class="card-header bg-success text-white">
                            <h3 class="text-white">Bussiness Class</h3>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">40,000 Rs</h4>
                            <p class="card-text">Different Packages</p>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i> Travaling Services
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i> Hoteling Services
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i> Help
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i> High Level
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-check"></i> Tour Guide
                                </li>
                            </ul>
                            <a href="#" class="btn btn-danger btn-block mt-2">Get It</a>
                        </div>
                        <div class="card-footer text-muted">
                            <strong>&copy;Online Tourism</strong>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
<!-- <script type="text/javascript" src="bootstrap.min.js"></script> -->
</body>
</html>